---
layout: page
permalink: /directors/
title: Directors
---


<div id="archives">
{% for directors in site.directors %}
  <div class="archive-group">
    {% capture directors_name %}{{ directors | first }}{% endcapture %}
    <div id="#{{ directors_name | slugize }}"></div>
    <p></p>
    
    <h3 class="directors-head">{{ directors_name }}</h3>
    <a name="{{ directors_name | slugize }}"></a>
    {% for post in site.directors[directors_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>