---
layout: minimal
title: "#Staring"
permalink: /staring/index.html
description: "Procure por sua star favorita."
---
<div class="var-list">
  {% assign stars = site.posts | group_by: 'staring' | sort: "name" %}
  {% for staring in stars %}
    {% if staring.name == "" %}
      {% assign name = "Anonymous" %}
    {% else %}
      {% assign name = staring.name %}
    {% endif %}
    <a href="#{{ name | slugify }}">{{ name }}</a>
  {% endfor %}
</div>

{% for staring in stars %}
<div class="var-wrapper">
	<div class="var-title-wrapper">
  {% if staring.name == "" %}
    {% assign staring.name = "Anonymous" %}
  {% else %}
    {% assign staring.name = staring.name %}
  {% endif %}
  <div class="var-title" id="{{ name | slugify }}">{{ staring.name | debug }}</div>
  <div class="var-pic-wrapper" style="background: url('https://res.cloudinary.com/how-dare-you-review/image/upload/ar_1:1,c_fill,g_auto/{{ name | slugify }}.jpg');">-</div>
  
</div>
    <ul class="post-list">
      {% assign pages_list = staring.items %}
      {% for post in pages_list reversed %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%m/%d/%Y" }}</time></a></li>
      {% endfor %}
    </ul>
  </span>
</div>
{% endfor %}