<header class="bar-header">
     <link rel="stylesheet" href="https://use.typekit.net/buz6vej.css">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            <img src="https://res.cloudinary.com/how-dare-you-review/image/upload/v1532224637/review-logo.svg" height="30px" >
        </a>
    </h1>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
